# Wayland autorandr alternative

## Standalone
profile standalone {
    output "eDP-1" position 0,0
}

# Hjemme - Odyssey G9
profile hjemme {
    output "eDP-1" position 0,0
    output "Samsung Electric Company LC49G95T H4ZNA03398" position 1920,0 mode 5120x1440@59.977
}

## Computas
#
#
profile cx-thinkvision-uw {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086B08" position 0,0
}
profile cx-thinkvision-uw2 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086AR6" position 0,0
}
profile cx-thinkvision-uw3 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3090ZDB" position 0,0
}
profile cx-thinkvision-uw4 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086AVG" position 0,0
}
profile cx-thinkvision-uw5 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086AZA" position 0,0
}
profile cx-thinkvision-uw6 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086A28" position 0,0
}
profile cx-thinkvision-uw7 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086AYR" position 0,0
}
profile cx-thinkvision-uw8 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086A29" position 0,0
}
profile cx-thinkvision-uw9 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086A25" position 0,0
}
profile cx-thinkvision-uw10 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086AVK" position 0,0
}
profile cx-dell1 {
    output "eDP-1" position 3440,0
    output "Dell Inc. DELL C3422WE 6Q4BZG3" position 0,0
}

## Nav
#
#

### Dell UltraWide
profile nav-dell-uw {
    output "eDP-1" position 3440,0
    output "Dell Inc. DELL C3422WE 3SXHR83" position 0,0
}
profile nav-dell2-uw {
    output "eDP-1" position 3440,0
    output "Dell Inc. DELL U3419W 4N116T2" position 0,0
}
profile nav-dell3-uw {
    output "eDP-1" position 3440,0
    output "Dell Inc. DELL U3419W BM736T2" position 0,0
}

### Samsung UltraWide
profile nav-samsung-uw {
    output "eDP-1" position 3440,0
    output "Samsung Electric Company LS34A650U H4ZT802271" position 0,0 mode 3440x1440@59.973
}

profile nav-samsung-uw2 {
    output "eDP-1" position 3440,0
    output "Samsung Electric Company LS34A650U H4ZT801274" position 0,0
}

### Philips
profile nav-samsung-uw2 {
    output "eDP-1" position 3440,0
    output "Philips Consumer Electronics Company PHL 349P7F 0x0000018C" position 0,0
}


### Fallthrough
profile default-kontorplass {
    output "eDP-1" position 3440,0
    output "*" position 0,0
}
