# Wayland autorandr alternative

## Standalone
profile standalone {
    output "eDP-1" position 0,0
}

# Hjemme - Odyssey G9
profile hjemme {
    output "eDP-1" position 0,0
    output "Samsung Electric Company LC49G95T H4ZNA03398" position 1920,0 mode 5120x1440@59.977
}

## Computas
#
#
profile cx-thinkvision-uw {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086B08" position 0,0
}
profile cx-thinkvision-uw2 {
    output "eDP-1" position 3440,0
    output "Lenovo Group Limited LEN T34w-20 V3086AR6" position 0,0
}


## Nav
#
#

### Dell UltraWide
profile nav-dell-uw {
    output "eDP-1" position 3440,0
    output "Dell Inc. DELL C3422WE 3SXHR83" position 0,0
}

### Dell2 UltraWide
profile nav-dell2-uw {
    output "eDP-1" position 3440,0
    output "Dell Inc. DELL U3419W 4N116T2" position 0,0
}

### Samsung UltraWide
profile nav-samsung-uw {
    output "eDP-1" position 3440,0
    output "Samsung Electric Company LS34A650U H4ZT802271" position 0,0
}
