# Wayland autorandr alternative

## Standalone
profile standalone {
    output "eDP-1" position 0,0
}

# Hjemme - Odyssey G9
profile hjemme {
    output "eDP-1" position 0,0
    output "Samsung Electric Company LC49G95T H4ZNA03398" position 1920,0 mode 5120x1440@59.977
}

## Nav

### Dell UltraWide
profile nav-dell-uw {
    output "eDP-1" position 3440,0
    output "Dell Inc. DELL C3422WE 3SXHR83" position 0,0
}
